---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Not Found">
<div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl textcenter">Esta Pagina no existe</h1>
    <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif"/>
</div>
</Layout>